body{
    display:flex;
    justify-content: center;
    align-items: center;
}
div{
    background-color: red;
    width: 30%;
    height: 200px;
    border-radius: 10%;
    padding: 20px;
    margin: 10px;
}